nav {
    padding: 3em;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 5em;
    flex: 30;
    border-bottom: 2px solid rgb(255, 215, 0);
}

.navbar a {
    padding: 0.5em;
    font-weight: 600;
    transition: 0.5s;
}

.active {
    color: rgb(255, 215, 0, 0.8);
    border-bottom: 2px solid rgb(255, 215, 0);
}

.navbar a:hover {
    color: rgb(255, 215, 0);
    transition: 0.5s;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}


